################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/FlickrAvia/v15/Server/sqlite3/storage.ide-wal
