@model List<MvcApplicatioTest.Models.PhotoFlickr>

@foreach (var item in Model)
{
    <li>
            <figure id=@item.PhotoId>
                <img src=@item.MediumUrl alt=@item.Title>
                <figcaption>
                    <h3>@item.Title</h3> 
                    <span>@item.OwnerName</span>
                    <p class="description">@item.DateTaken</p>
                    <a href="#">Visit!</a>
                </figcaption>
            </figure>
    </li>
}
