@model List<MvcApplicatioTest.Models.PhotoFlickr>

@foreach (var item in Model)
{
    <div id=@item.PhotoId style="background-color: #F3F3F3; margin-bottom: 30px;">
        <div style="padding-left: 30px; font-size: 18px;">@item.Title</div>
        <img class="displayed" src=@item.MediumUrl />
        <div style="padding-left: 30px; font-size: 18px;">@item.OwnerName</div>
        <div style="padding-left: 30px; font-size: 18px;">@item.DateTaken</div>
    </div>
}